.blog-page {
    padding-bottom: 120px;
    padding-top: 60px;

    &__title {
        text-align: center;
        margin-bottom: 50px;
    }
    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-top: 3.75rem;
        margin: 0 -3.75rem;
    }

    &__item {
        position: relative;
        max-width: 445px;
        min-height: 445px;
        margin-bottom: 5rem;
        margin-left: 3.75rem;
        margin-right: 3.75rem;
    }

    &__img {
        margin-bottom: 2.1875rem;
        img {
            height: 18.75rem;
            width: 100%;
            object-fit: cover;
        }
    }

    &__item-title {
        display: block;
        @include font('ubuntu-bold');
        font-size: 1.875rem;
        line-height: 2.625rem;
        margin-bottom: 1.25rem;
    }

    &__btn {
        @include font('ubuntu-medium');
        display: inline-block;
        font-size: 1.375rem;
        line-height: 1.875rem;
        color: $main;
        padding-right: 5.625rem;
        background-repeat: no-repeat;
        background-position: center right;
        transition: .3s ease;
        &:hover {
            background-position: center right 10px;
        }
    }

    &__date {
        @include font('ubuntu-medium');
        font-size: 1.375rem;
        line-height: 1.875rem;
        display: block;
        background-color: $second;
        position: absolute;
        top: 0;
        right: 0;
        color: $black;
        padding: 1.5625rem 2.5rem;
    }
    &__pagination-bottom {
        margin-top: -1.25rem;
    }
}