.calculator {
    padding-top: 60px;
    padding-bottom: 100px;

    &__title {
        margin-bottom: 65px;
        text-align: center;
    }

    &__inner {
        form {
            display: flex;
            justify-content: space-between;
        }

        input, select {
            display: block;
            @include font('ubuntu');
            font-size: 20px;
            color: $third;
            background-color: $grey;
            border-radius: 15px;
            border: none;
            padding: 20px 20px;
            height: 65px;
            width: 100%;
            min-width: 160px;
            &::placeholder {
                color: $third;
            }
        }

        input[type=checkbox] {
            display: none;
        }
        
        select {
            background-image: url('../images/select-arrow.png');
            background-repeat: no-repeat;
            background-position: right 20px center;
            padding: 20px 45px 20px 22px;
            appearance: none;
        }

        label {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                flex-shrink: 0;
            }
        }
    }

    &__left {
        margin-right: 130px;
    }

    &__row {
    }

    &__item-label {
        display: inline-block;
        font-size: 20px;
        margin-right: 15px;
        line-height: 42px;
    }

    &__top {
        @include font('ubuntu-bold');
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__col {
        margin-left: 50px;
        flex-shrink: 0;
        &:first-child {
            margin-left: 0;
            max-width: 440px;
            width: 100%;

            select {
                max-width: 270px;
            }
        }
    }

    &__col-title {
        @include font('ubuntu-bold');
        font-size: 24px;
        line-height: 42px;
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 25px;
    }

    &__bottom {
    }

    &__checkboxes {
        display: flex;
        flex-wrap: wrap;
    }

    &__checkbox {
        margin-right: 60px;
        margin-bottom: 30px;
        label {
            justify-content: flex-start;
        }

        input:checked {
            & ~ span {
                &::after {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }

    &__checkbox-icon {
        position: relative;
        display: block;
        width: 26px;
        height: 26px;
        border: 1px solid $third;
        margin-right: 20px;
        &::after {
            position: absolute;
            content: "";
            width: 30px;
            height: 27px;
            background: url('../images/check-icon.png') center no-repeat;
            bottom: 7px;
            left: 4px;
            transition: .2s ease;
            opacity: 0;
            transform: translateY(-10px);
        }
    }

    &__right {
        max-width: 435px;
    }

    &__sliders {
        margin-bottom: 40px;
        width: 400px;

        .swiper-button-next {
            right: -5px;
            outline: none;
            &:after {
                content: "›";
            }
        }
        .swiper-button-prev:after,
        .swiper-button-next:after {
            @include font('ubuntu-light');
            font-size: 60px;
            content: "›";
            color: $third;
        }
        .swiper-button-prev {
            left: -45px;
            margin-top: -13px;
            outline: none;
            &:after {
                transform: rotate(180deg);
            }
        }
    }

    &__btn-wrapper {
        text-align: right;
    }
    
    &__slider-wrapper {
        position: relative;
    }

    &__slider-big {
        margin-bottom: 40px;
        height: 290px;

        img {
            height: 220px;
            width: 100%;
        }
    }

    &__slider-item {
        box-sizing: border-box;
    }

    &__slider-title {
        @include font('ubuntu-bold');
        font-size: 24px;
        line-height: 42px;
        margin-bottom: 35px;
    }

    &__slider-thumbs {
        height: 67px;
        margin-right: 45px;

        img {
            width: 100%;
            height: 45px;
        }

        .calculator__slider-item {
            display: flex;
            align-items: center;
            width: calc(33.333% - 15px);
            padding: 15px 12px;
            border: 1px solid transparent;

            &.swiper-slide-thumb-active {
                border-color: $main
            }
        }
    }

    &__btn {
        font-size: 20px;
        background-color: $main;
        color: #ffffff;
        padding: 14px 30px;

        &:hover {
            background-color: #ffffff;
            color: $main;
        }
    }
}

