.contacts-page {
    padding: 110px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        max-width: 630px;
        width: 100%;
    }


    &__list {
        margin-right: 100px;
        @media (max-width: 1600px) {
            margin-right: 6.25rem;
        }
        li {
            display: flex;
            align-items: center;
            font-size: 30px;
            line-height: 48px;
            letter-spacing: 0.05em;
            margin-bottom: 60px;
            @media (max-width: 1600px) {
                font-size: 1.875rem;
                line-height: 3rem;
                letter-spacing: 0.05em;
                margin-bottom: 3.75rem;
            }
            &:last-child {
                margin-bottom: 0;
            }

            a {
                display: block;
            }
            
            img {
                margin-right: 50px;
                width: 51px;

                @media (max-width: 1600px) {
                    margin-right: 3.125rem;
                    width: 3.1875rem;
                }
            }
        }
    }

    .contacts-page__multiple-links {
        align-items: flex-start;
        img {
            margin-top: 10px;
        }
    }

    &__map {
        border: 8px solid $main;
        width: 100%;
    }
}
