.header {
    position: fixed;
    left: 0;
    width: calc(100% - 70px);
    top: 30px;
    letter-spacing: 0.05em;
    box-shadow: 1px 2px 15px 5px rgba(0,0,0,0.42);
    background-color: #ffffff;
    z-index: 30;
    transition: .3s ease;

    &.open {
        overflow: auto;
        height: 100vh;
    }

    &.active {
        top: 0;
        width: 100%;
    }

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__logo {
        img {
            width: 10rem;
        }
    }

    &__content {
        padding: 1.875rem 0;
    }

    &__top-row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: 2.1875rem;
    }

    &__top-navigation {
        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -1.125rem;
        }

        li {
            margin: 0 1.125rem;
        }
    }

    &__menu-btn {
        display: none;
        position: fixed;
        right: 20px;
        top: 55px;
        width: 24px;
        height: 16px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        order: 5;
        z-index: 50;

        &.active {
            &::before,
            &::after {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%) rotate(45deg);
            }

            &::after {
                transform: translateY(-50%) rotate(-45deg);
            }

            span {
                transform: scaleX(0);
            }
        }

        span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: $main;
            margin-bottom: 4px;
            transition: .6s ease;
        }

        &::before,
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: $main;
            margin-bottom: 4px;
            transition: .3s ease;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        margin-left: 3.125rem;

        li {
            img {
                max-width: 30px;
            }
        }

        li + li {
            margin-left: 1.875rem;
        }
    }

    &__center-links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -1.5625rem;

        img {
            max-width: 40px;
        }

        li {
            @include font('ubuntu-bold');
            margin: 0 1.5625rem;
            
        }
        
        a {
            display: flex;
            align-items: center;
        }

        span {
            color: $main;
            text-transform: uppercase;
            margin-left: 0.9375rem;
        }
    }

    &__schedule {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 13.75rem;
        margin-left: 1.25rem;

        a {
            @include font('ubuntu-bold');
            display: block;
            margin-bottom: 15px;
            color: $main;
            
        }

        span {
            text-transform: uppercase;
            line-height: 1.5rem;
        }
    }

    &__bottom-row {
        background-color: $third;
        color: #ffffff;
    }

    &__bottom-row-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
    }

    &__bottom-navigation {

        & > ul {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -1.25rem;

            & > li {
                position: relative;
            }


            // Все ссылки навигации
            & > li a {
                display: block;
                padding: 10px;
                padding-left: 20px;
            }
        }

        // Ссылки меню 0 уровня
        & > ul > li >  a {
            padding: 1.25rem;
        }

        li ul {
            display: none;
        }

        &-wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 25rem;
            z-index: 32;
            background-color: $third;

            // Список меню 1 уровня
            & > ul {
                overflow-y: auto;
                max-height: 400px;
                min-width: 25rem;
                direction: rtl;
                background-color: #53494e;
            }
            // Список меню 2 уровня
            & > ul > li > ul {
                position: absolute;
                right: -100%;
                height: 100%;
                min-width: 25rem;
                top: 0;
                background-color: #555354;
            }
        }
    }

    &__bottom-row-right {
        display: flex;
        align-items: center;
        margin-left: 1.875rem;
    }

    &__lang {
        
        a {
            display: flex;
            align-items: center;
            
        }

        img {
            max-width: 30px;
        }

        span {
            display: inline-block;
            margin-left: 0.5rem;
        }
    }

    &__btn {
        font-size: 1.25rem;
        line-height: normal;
        letter-spacing: 0.075em;
        padding: 0.75rem 1.25rem;
        background-color: $main;
        margin-left: 2.5rem;
        transition: .3s ease;
    }
}

