.keys {

    &__inner {
    }

    .container {
        max-width: 1610px;
    }
    
    &__orange-box {
        background-color: $main;
    }

    &__orange-box-inner {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
    }

    &__keys-box-inner {
        margin-right: auto;
    }

    &__box-col {
    }

    &__content {
        display: flex;
        justify-content: space-between;
        min-height: 545px;
    }
    
    &__box {
        background-color: $grey;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        max-width: 570px;
        width: 100%;
        height: 470px;
    }
}
