@media (max-width: 1900px) {
    .contacts {
        &__plan {
            padding: 20px 100px;
        }
    }
}

@media (max-width: 1780px) {
    .contacts {
        &__plan {
            padding: 20px 85px;
        }
    }
}

@media (max-width: 1740px) {
    body {
        font-size: 18px;
        line-height: 24px;
    }

    .header {
        &__logo {
            img {
                width: 8rem;
            }
        }

        &__btn {
            font-size: 1rem;
            margin-left: 1.5rem;
        }
    }
}

@media (max-width: 1670px) {
    .contacts {
        &__plan {
            padding: 20px 15px;
        }
    }
}



@media (max-width: 1620px) {
    .blog-page {
        &__tabs-inner {
            margin: 0 -30px;
        }
        &__item {
            max-width: 100%;
            margin-left: 30px;
            margin-right: 30px;
            flex-basis: calc(33.333% - 60px);
        }
    }
}

@media (max-width: 1600px) {
    .gallery-page {
        &__tabs-inner {
            margin-left: -30px;
            margin-right: -30px;
        }
        &__item {
            flex-basis: calc(33.333% - 60px);
            margin-left: 30px;
            margin-right: 30px;
        }
    }
    .us {
        &__box {
            width: 30%;
        }

        &__title {
            margin-right: 165px;
        }

        &__info {
            padding-right: 30px;
        }
    }
    .price-page {
        &__menu {
            margin-right: 50px;
        }
    }
}

@media (max-width: 1500px) {
    .blog-page {
        padding-top: 20px;
    }
    .calculator {
        &__col {
            margin-left: 20px;
            &:first-child {
                max-width: 425px;
            }
        }
    }
    .product-page {
        .breadcrumbs {
            top: 255px;
        }
    }
    body {
        font-size: 16px;
        line-height: 20px;
    }

    .keys {
        &__box-bg,
        &__orange-box-bg {
            display: none;
        }

        &__content {
            align-items: stretch;
            padding-bottom: 0;
        }

        &__box {
            display: flex;
            align-items: center;
            background-color: $grey;
            margin-right: -15px;
            padding-right: 15px;
            padding-left: 15px;
            flex-basis: auto;
            width: 100%;
            max-width: calc(33.333% + 15px);
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &__orange-box {
            display: flex;
            align-items: center;
            background-color: $main;
            margin-left: -15px;
            padding-left: 15px;
            padding-right: 15px;
            flex-basis: auto;
            width: 100%;
            max-width: calc(66.666% + 15px);
            padding-top: 100px;
            padding-bottom: 100px;
        }

    }

    .header {
        top: 30px;
        &__bottom-row-right {
            margin-left: 1.25rem;
        }

        &__btn {
            margin-left: 1.25rem;
        }
    }
}

@media (max-width: 1400px) {
    .article-page {
        &__tags {
            margin-left: 40px;
        }
    }
    .services-page {
        &__list {
            margin-left: -15px;
            margin-right: -15px;
        }
        &__item {
            margin-left: 15px;
            margin-right: 15px;
            flex-basis: calc(50% - 30px);
        }
        &__img {
            width: 100%;
        }
    }
    .blog-page {
        &__item-title {
            font-size: 26px;
            line-height: 36px;
        }
        &__btn {
            font-size: 20px;
            padding-right: 70px;
        }
        &__list {
            margin: 0 -15px;
        }
        &__item {
            max-width: 100%;
            margin-left: 15px;
            margin-right: 15px;
            flex-basis: calc(33.333% - 30px);
        }
        &__date {
            padding: 15px;
        }
    }
    .calculator {
        &__left {
            margin-right: 30px;
        }
        &__col {
            flex-shrink: 1;
        }
    }
    .price-page__menu-list {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 60px;
    }
    .price-page__menu {
        width: 340px;
    }
    .price-page__table td {
        padding: 10px 20px;
    }
    .scroll-top {
        width: 65px;
        height: 65px;
        &::after {
            border-width: 0 15.5px 20px 15.5px;
        }
    }
    .keys {
        &__content {
            font-size: 18px;
            line-height: 26px;
        }
    }
    .hero {
        &__item-title {
            font-size: 62px;
            line-height: 62px;
            margin-bottom: 70px;
        }
    }
    .header {
        width: 98%;
    }
    .header__bottom-navigation > ul > li > a {
        padding: 1.25rem 1rem;
    }
    .header__center-links li {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .header__center-links img {
        max-width: 20px;
    }
    .header__socials {
        align-items: flex-end;
        li img {
            max-width: 20px;
        }
    }
}

@media (max-width: 1320px) {
    .calculator {
        form {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__left {
            margin-right: 0;
            margin-bottom: 40px;
        }
        &__col {
            flex-shrink: 1;
            flex-grow: 1;
        }
    }
}

@media (max-width: 1280px) {
    .inner-page {
        margin-top: 120px;
    }
    .price-page {
        margin-top: 180px;
        &__free {
            margin-left: 20px;
        }
        &__col-title {
            font-size: 26px;
            margin-bottom: 35px;
        }
    }
    .price-page__td-wrapper {
        align-items: center;
        flex-direction: column;
        img {
            margin-bottom: 20px;
        }
    }
    .product-page {
        .breadcrumbs {
            top: 150px;
        }
    }
    
    .contacts-page {
        &__inner {
            align-items: center;
        }
        &__list {
            margin-right: 30px;

            li {
                font-size: 26px;
                line-height: 40px;
            }
        }

        &__info {
            max-width: 490px;
        }
    }
    .contacts {
        &__text {
            font-size: 24px;
            line-height: 36px;
        }
        &__btn {
            font-size: 30px;
            margin-top: 35px;
            padding: 15px 35px;
        }
        &__phone {
            bottom: 0;
        }
        &__title {
            margin-bottom: 30px;
        }
        &__plan {
            bottom: 100px;
            li img {
                width: 70%;
            }
        }
        &__inner {
            align-items: center;
        }
        
        &__form {
            padding-bottom: 30px;
            padding-left: 15px;
            padding-top: 30px;
        }

        &__info {
            padding-top: 30px;
            padding-bottom: 290px;
            padding-right: 15px;
        }
    }
    .us {
        &__title {
            margin-right: 73px;
        }
    }
    .partners {
        &__list {
            padding: 30px 45px;
        }
        &__title {
            margin-bottom: 30px;
        }
        &__text {
            font-size: 24px;
            line-height: 30px;
        }
    }
    .title {
        font-size: 2.5rem;
        line-height: 4rem;
    }
    .benefits {
        &__list li {
            max-width: 255px;

            img {
                width: 100px;
            }
        }
    }
    .hero {
        &__item-title {
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 40px;
        }
    }
    .header__bottom-navigation-wrapper {
        min-width: auto;
    }
    .header {
        width: 100%;
        top: 0;
        &__main {
            padding: 20px;
        }
        &__menu-btn {
            display: block;
        }
        &__schedule {
            order: 2;
            margin-right: 40px;
            max-width: 100%;
        }
        &__content {
            display: none;
            order: 3;
            flex-basis: 100%;
        }
        &__top-row {
            justify-content: center;
            flex-direction: column;
        }
        &__top-navigation {
            width: 100%;
            ul {
                flex-direction: column;
            }

            li {
                width: 100%;
                margin: 0;
                text-align: center;
            }
            
            a {
                display: block;
                font-size: 18px;
                padding-bottom: 10px;
                padding-top: 10px;
            }
        }
        &__socials {
            align-items: center;
            margin-bottom: 30px;
            margin-left: 0;
            order: -1;
            li img {
                max-width: 30px;
            }
        }
        &__center-row {
            text-align: center;
        }
        &__center-links {
            display: inline-flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto;
            li {
                width: 100%;
            }
            a {
                padding-bottom: 10px;
                padding-top: 10px;
            }
            img {
                max-width: 40px;
            }
        }
        &__bottom-row {
            display: none;
            padding-bottom: 30px;
            padding-top: 30px;
        }
        &__bottom-row-inner {
            flex-direction: column;
        }
        
        &__bottom-navigation {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
            
            li {
                width: 100%;
            }
            
            & > ul {
                flex-direction: column;
                margin: 0;
            }

            &-wrapper {
                position: static;

                & > ul {
                    overflow-y: auto;
                    max-height: 100%;
                    min-width: auto;
                    direction: ltr;
                }
                // Список меню 2 уровня
                & > ul > li > ul {
                    position: static;
                    min-width: auto;
                }
            }
        }

        &__bottom-row-right {
            flex-direction: column;
            margin-left: 0;
            order: -1;
        }

        &__lang {
            margin-bottom: 30px;
        }
        

        &__btn {
            margin-left: 0;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1200px) {
    .article-page {
        &__share-title {
            margin-top: 0;
        }
    }
    .gallery-page {
        &__tabs-inner {
            margin-left: -20px;
            margin-right: -20px;
        }
        &__item {
            flex-basis: calc(50% - 40px);
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .why {
        padding-bottom: 50px;
        &__container {
            width: 100%;
        }
        &__img {
            display: none;
            margin-top: 50px;
            height: auto;
            width: 100%;
            img {
                width: 100%;
            }
        }

        &__box {
            margin-bottom: 50px;
        }

        &__wrapper {
            flex-direction: column;
        }
    }
}

@media (max-width: 1120px) {
    .article-page {
        padding-top: 20px;
        padding-bottom: 30px;

        .comments__list {
            padding-right: 0;
        }

        &__inner {
            flex-direction: column;
        }
        &__tags {
            order: -1;
            margin-bottom: 50px;
            margin-left: 0;
            margin-top: 0;
        }

        &__tags-list {
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;

            li {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
    .blog-page {
        &__item {
            flex-basis: calc(50% - 30px);
        }
    }
    .price-page {
        &__inner {
            flex-direction: column;
        }

        &__menu {
            width: 100%;
        }

        &__menu-list {
            padding-right: 15px;
            margin-right: -15px;
        }
    }
}

@media (max-width: 1024px) {
    .article-page {
        &__box {
            padding: 30px;
        }
    }
    .text-page {
        margin-bottom: 0;
        
        &__text {
            font-size: 20px;
            line-height: 28px;

            p {
                margin-bottom: 20px;
            }
        }
        
        &__inner {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        &__partners {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 0;
            li {
                margin-bottom: 50px;
            }
        }
    }
    .us {
        padding: 30px 0;
        &__info {
            font-size: 18px;
            line-height: 24px;
        }

        &__list {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__inner {
            flex-direction: column;
        }

        &__content {
            margin: 0;
        }
        
        &__title {
            margin-right: 0;
            max-width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: $second;
            margin-bottom: 40px;
        }

        &__box {
            display: none;
        }
    }
    
    .keys {
        &__content {
            flex-wrap: wrap;
            margin: 0 -15px;
        }

        &__list {
            margin-top: 50px;
            margin-left: -15px;
            margin-right: -15px;
        }

        &__item {
            margin-left: 15px;
            margin-right: 15px;
        }
        
        &__box {
            flex-basis: auto;
            width: 100%;
            max-width: 100%;
            padding: 50px 15px;
            margin: 0;
        }

        &__orange-box {
            flex-basis: auto;
            width: 100%;
            max-width: 100%;
            padding: 50px 15px;
            margin: 0;
        }
    }
    .header__bottom-navigation {
        li {
            font-size: 20px;
        }
    }
    .hero {

        &__item-img {
            max-width: 100%;
        }
        &__item-title {
            font-size: 42px;
            line-height: 42px;
        }
        &__item-inner {
            margin-top: 300px;
        }
    }

    .partners {
        &__item {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

@media (max-width: 991px) {
    .article-page {
        &__share {
            flex-direction: column;
        }
        &__share-box {
            margin-bottom: 15px;
        }
    }
    .services-page {
        &__list {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
        }
        &__item {
            margin-left: 0;
            margin-right: 0;
        }
        &__img {
            height: 380px;
        }
    }
    .calculator {
        &__top {
            flex-wrap: wrap;
            margin: 0 -15px;
        }
        &__title {
            margin-bottom: 45px;
        }
        &__col {
            margin-left: 15px;
            margin-right: 15px;
            flex-shrink: 0;
            &:first-child {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        &__col-title {
            font-size: 22px;
            line-height: 34px;
            margin-bottom: 25px;
        }

        &__item-label {
            font-size: 18px;
            line-height: 30px;
        }

        form {
            input, select {
                font-size: 18px;
            }
        }

    }
    .product-page {
        padding-top: 160px;
        .breadcrumbs {
            position: static;
            color: $black;
        }

        &__content {
            padding: 50px 0;
            max-width: 100%;
        }

        &__container {
            margin-top: 0;
        }
        
        &__inner {
            flex-direction: column;
        }

        &__img {
            width: 100%;
            img {
                height: 600px;
                width: 100%;
            }
        }
    }
    .contacts-page {
        padding: 60px 0;

        &__inner {
            flex-direction: column;
        }

        &__info {
            margin-right: 0;
            margin-bottom: 40px;
        }

        &__map iframe {
            height: 450px;
        }
        
        &__list {
            li {
                font-size: 22px;
                line-height: 30px;
                margin-bottom: 30px;

                img {
                    width: 30px;
                }
            }
        }

    }
    .contacts {
        &__btn {
            font-size: 24px;
            margin-top: 30px;
            padding: 15px 35px;
        }
        &__plan {
            bottom: 120px;

            li img {
                width: 50%;
            }
        }
        &__plan-list {
            align-items: flex-end;
        }
        &__form {
            input,textarea {
                font-size: 24px;
                padding: 15px 30px;
                }
            }
        }
    .partners {
        &__img {
            margin: 0 -15px;
            img {
                width: 100%;
                max-height: 400px;
            }
        }
    }
}

@media (max-width: 800px) {
    .benefits {
        padding-top: 30px;
        padding-bottom: 50px;

        &__title {
            margin-bottom: 40px;    
        }
        
        &__list {
            justify-content: center;
            li {
                max-width: 100%;
                p {
                    max-width: 255px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .comments__item::before {
        width: 100px;
    }
    .comments {
        padding-bottom: 30px;
    }
    .article-page {
        &__img {
            margin-top: 25px;
            margin-bottom: 40px;
        }
        p {
            margin-bottom: 15px;
        }
        &__text {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 30px;
        }
        &__text-title {
            margin-bottom: 20px;
        }
        &__box {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 30px;
        }
        &__title {
            font-size: 38px;
            line-height: 48px;
            margin-bottom: 30px;
        }
    }
    .services-page {
        padding-top: 20px;
        &__title {
            margin-bottom: 30px;
        }

        &__info {
            font-size: 18px;
            line-height: 24px;
        }
        &__item-title {
            font-size: 26px;
            line-height: 30px;
            margin-bottom: 28px;
        }
    }
    .gallery-page {
        padding-top: 20px;
        padding-bottom: 50px;
        &__tabs-item {
            font-size: 15px;
            padding: 10px 15px;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
            width: 100%;
        }
        &__tabs-list {
            margin: 0;
        }
    }
    .blog-page {
        padding-bottom: 50px;
    }
    .calculator {
        padding-top: 30px;
        padding-bottom: 60px;
        &__checkbox {
            margin-right: 30px;
        }
        
        &__sliders {
            .swiper-button-next {
                right: 0;
            }
            .swiper-button-prev {
                left: 0;
            }
        }
        
        &__slider-thumbs {
            margin: 0 30px;
    
            .calculator__slider-item {
                width: calc(33.333% - 20px);
            }
        }
        
        &__inner {
            input, select {
                width: 100%;
            }
        }
        &__top {
            margin-left: 0;
            margin-right: 0;
            flex-direction: column;
        }
        &__col {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
            &:first-child {
                margin-left: 0;
                margin-right: 0;
                max-width: 100%;
                select {
                    max-width: 100%;
                }
            }
        }
    }
    .price-page {
        margin-top: 130px;
    }
    .contacts {
        &__text {
            font-size: 18px;
            line-height: 30px;
        }
    }
    .comments {
        &__title {
            font-size: 36px;
            line-height: 48px;
            word-break: break-word;
        }
    }
    .price-page {
        
        &__title {
            margin-bottom: 20px;
        }
        &__subtitle {
            margin-bottom: 25px;
        }

        &__menu-list {
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 50px;
        }
        &__table  {
            width: 100%;
            td {
                padding: 5px;
                width: 100%;
            }

            b {
                max-width: 100%;
            }

            .price-page__profile {
                width: 100%;
                background-color: $second;
            }

            .price-page__td-wrapper {
                align-items: flex-end;
                img {
                    object-fit: contain;
                    padding-left: 20px;
                }
            }

            table tr {
                border: 1px solid $third;
                padding: 5px;
            }

            td, th {
                border: none;
            }
            
            table th, table td {
                padding: 10px;
                text-align: center;
                border-right: 1px solid $third;
            }
            
            table th {
                text-transform: uppercase;
                font-size: 16px;
            }

            table {
                border: 0;
                width: 100%;
              }
              table thead {
                display: none;
              }
              table tr {
                margin-bottom: 10px;
                display: block;
                border-bottom: 2px solid #ddd;
              }
              table td {
                display: block;
                text-align: right;
                font-size: 13px;
                border-bottom: 1px dotted #ccc;
                border-right: 1px solid transparent;
              }
              table td:last-child {
                border-bottom: 0;
              }
              table td:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
              }
        }
    }
    .footer__list {
        font-size: 20px;
        line-height: 24px;
    }
    .benefits {
        &__text {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .benefits-page {
        .benefits__list {
            li:nth-child(2) {
                order: 5;
            }
        }
    }
    .text-page {
        
        &__inner {
            flex-direction: column;
        }

        &__box {
            width: 100%;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__partners li {
            max-width: 140px;
        }
    }
    .contacts {
        &__btn {
            font-size: 20px;
            margin-top: 20px;
            padding: 13px 25px;
        }
        &__phone {
            bottom: 5px;
        }
        
        &__plan {
            position: static;
            width: 100%;
            margin: 0;
            margin-top: 30px;
            padding-bottom: 0;
        }

        &__plan-list {
            flex-wrap: wrap;
            justify-content: center;
            li {
                margin-left: 5px;
                margin-right: 5px;
                margin-bottom: 20px;
            }
        }
        &__inner {
            flex-direction: column;
            margin: 0 -15px;
        }

        &__bg-info,
        &__bg-form {
            display: none;
        }
        
        &__form {
            width: 100%;
            padding: 30px 15px;
            background-color: $second;
            input,textarea {
                font-size: 22px;
                }
            }

        &__info {
            width: 100%;
            padding: 30px 15px;
            background-color: $grey;
        }
    }
    
    .why {
        &__box {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        &__box-text {
            font-size: 26px;
            line-height: 38px;
            max-width: 100%;
        }
        
        &__body {
            font-size: 20px;
            line-height: 28px;
        }

        &__body-title {
            margin-bottom: 20px;
        }

        &__title {
            margin-bottom: 30px;
        }

        &__btn {
            margin-top: 20px;
        }
    }
    .partners {
        padding-bottom: 27px;

        &__box {
            margin-bottom: 70px;
        }
        &__btn {
            padding: 10px 30px;
        }
        &__list {
            width: 100%;
            padding: 20px;
        }
        &__item {
            max-width: 50px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    
    .title {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .keys {
        &__list {
            flex-wrap: wrap;
            margin: 0;
            margin-top: 50px;
        }
        &__item {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .btn {
        font-size: 1.5rem;
    }
    .hero {
        min-height: auto;
        &__item-title {
            line-height: 36px;
            font-size: 36px;
        }
        &__item {
            min-height: auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__item-inner {
            margin: 0;
            padding: 0 0 40px 0;
            margin-top: 150px;
            margin-bottom: 50px;
        }
        &__item-img {
            height: 400px;
        }
        .container {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-right: 15px;
        }
    }
    .header {
        &__logo img {
            width: 5rem;
        }

        &__schedule a {
            margin-bottom: 5px;
        }

        &__menu-btn {
            top: 44px;
        }
    }
}

@media (max-width: 760px) {
    .gallery-page {
        &__tabs-inner {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: -50px;
        }
        &__item {
            flex-basis: 100%;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            height: 450px;
            margin-bottom: 50px;
        }
    }
    .price-page {
        &__window {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-bottom: 30px;
        }

        &__rating-wrapper {
            margin-top: 80px;
            padding-bottom: 50px;
        }

        &__col {
            margin: 0;
            margin-bottom: 40px;
            &:last-child {
                margin-left: 0;
            }
        }

        &__img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: 710px) {
    .blog-page {
        &__list {
            flex-direction: column;
            margin: 0;
        }
        &__item {
            flex-basis: 100%;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 600px) {
    .article-page {
        &__share {
            margin-top: 50px;
        }
        &__share-title {
            margin-right: 15px;
            margin-bottom: 15px;
        }
        .rating__title {
            margin-right: 15px;
        }
    }
    .services-page {
        &__img {
            height: 300px;
        }
        &__item-title {
            text-align: center;
        }
    }
    .blog-page {
        &__title {
            margin-bottom: 25px;
        }
        &__list {
            padding-top: 30px;
        }
        &__img {
            margin-bottom: 15px;
        }
        &__btn {
            font-size: 18px;
        }
        &__item-title {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 10px;
        }
    }
    .calculator {
        &__checkboxes {
            flex-direction: column;
            align-items: flex-start;
        }
        &__checkbox {
            margin-right: 0;
            width: 100%;
        }
        .calculator__checkbox {
            label {
                flex-direction: row;
            }
        }
    }
    .comments {
        padding-top: 30px;
        padding-bottom: 40px;
        &__img {
            img {
                width: 90px;
            }
        }

        &__text {
            font-size: 16px;
            line-height: 22px;
        }

        &__author {
            font-size: 22px;
            line-height: 28px;
        }
    }
    .contacts-page {
        &__map iframe {
            height: 350px;
        }
    }
    .footer {
        padding: 50px 0;
        &__inner {
            flex-direction: column;
        }

        &__list {
            max-width: 100%;
        }
    }
    .keys {
        &__item {
            height: 360px;
            margin-bottom: 40px;
        }
        &__orange-box-inner {
            flex-direction: column;

            .keys__box-col--list {
                margin-top: 50px;
                margin-left: 0;
            }
        }

        
    }
}

@media (max-width: 480px) {
    .comments__item::before {
        width: 100%;
    }
    .article-page {
        &__tags-list {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;

            li {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .gallery-page {
        &__item {
            height: 350px;
        }
    }
    .calculator {
        &__right {
            max-width: 100%;
            flex-shrink: 1;
        }
        &__sliders {
            width: 100%;
        }
        &__inner label {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        &__item-label {
            margin-bottom: 10px;
        }
        &__slider-title {
                font-size: 20px;
                line-height: 32px;
                margin-bottom: 25px;
            }
        &__slider-big {
            margin-bottom: 20px;
        }
        &__slider-thumbs {
            .calculator__slider-item {
                padding: 5px;
            }
        }
        &__slider-big img {
            height: auto;
        }
        &__btn {
            padding: 10px 15px;
            font-size: 18px;
        }
    }
    .comments {
        &__btn {
            padding: 10px 15px;
        }
        &__item {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__head {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            margin: 0;
            margin-bottom: 10px;
        }
    }
    .price-page {
        &__window {
            margin-bottom: 0;
        }
        &__col-title {
            font-size: 22px;
            margin-bottom: 20px;
        }

        &__col-list {
            font-size: 18px;
            line-height: 24px;
        }
        &__info-title {
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 30px;
        }

        &__rating-wrapper {
            justify-content: center;
            margin-top: 40px;
            padding-bottom: 30px;
        }
    }

    .rating {

        
        &__title {
            margin-right: 8px;
        }
    }
    
    .product-page {
        padding-top: 120px;
        .breadcrumbs {
            font-size: 18px;
            line-height: 33px;
        }
    }
    .product-page__img img {
        height: 460px;
    }
    .product-page__text {
        font-size: 20px;
        line-height: 28px;
    }
    .contacts {
        &__title {
            text-align: center;
        }
        &__form {
            padding-bottom: 130px;
        }
        &__btn {
            width: 100%;
        }
        &__phone {
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    .why__box-text {
        font-size: 22px;
        line-height: 35px;
    }

    .partners {
        &__text {
            font-size: 18px;
            line-height: 24px;
        }
        &__list {
            padding: 10px;
        }
        &__btn {
            font-size: 1rem;
        }
        &__box {
            margin-bottom: 50px;
        }
    }

    .benefits {
        &__list {
            justify-content: center;
            li {
                width: auto;
                p {
                    max-width: 100%;
                }
            }
        }
    }
    
    .header {
        &__schedule {
            max-width: 155px;
            margin-right: 25px;

            span {
                line-height: normal;
                font-size: 0.875rem;
            }
        }

        &__menu-btn {
            right: 15px;
        }

        &__main {
            padding: 20px 0;
        }
    }
}

@media (max-width: 400px) {
    .comments__title {
        font-size: 32px;
        line-height: 44px;
    }
    .text-page {
        &__partners {
            margin-left: -5px;
            margin-right: -5px;
            li {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
    .header {
        &__center-row {
            text-align: left;
        }
    }
}

@media (max-width: 350px) {
    .article-page {
        &__share {
            align-items: flex-start;
        }
        &__rating-wrapper {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .price-page__rating-wrapper {
        flex-direction: column;
    }
    .rating__title {
        margin-right: 0;
    }
}

@media (min-width: 1201px) {
    &__content {
        flex: 0 0 100%;
        margin-right: 100px;
    }
}

@media (min-width: 1281px) {
    .header {
        .header__bottom-navigation-wrapper > ul {
            height: 400px;
        }
        &__bottom-navigation {
            
            li {
                &:hover {
                    & > a {
                        background-color: #53494e;
                    }
                    & > ul {
                        display: block;
                    }

                    .header__bottom-navigation-wrapper {
                        & > ul {
                            display: block;
                        }

                        // Ссылки на 2 уровне меню
                        & > ul > li > ul > li:hover {
                            a {
                                background-color: #3f3339;
                            }
                        }
                    }
                }
            }
        
        }

        &__top-navigation li {
            &:hover {
                text-decoration: underline;
            }
        }

        &__center-links {
            a {
                &:hover {
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }

        &__schedule {
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__btn {
            &:hover {
                background-color: #fff;
                color: $main;
            }
        }
    }
}

@media (min-width: 1921px) {
    .hero {
        .container {
            max-width: 100%;
        }
        &__item-inner {
            margin-top: 500px;
            margin-left: auto;
            width: auto;
        }
    }
    .keys {
        &__wrapper {
            background-color: $main;

            &::before {
                position: absolute;
                content: "";
                right: 0;
                width: 36%;
                top: 0;
                bottom: 0;
                background-color: $grey;
            }
        }

        &__content {
            position: relative;
        }
        
        &__inner {
            max-width: 1920px;
            margin: 0 auto;
        }
    }
    
}

@media (min-width: 2500px) {
    .keys {
        &__wrapper {
            &::before {
                width: 40%;
            }
        }

    }
    
}

@media (min-width: 3600px) {
    .keys {
        &__wrapper {
            &::before {
                width: 43%;
            }
        }

    }
    
}


@media(min-width: 992px) {
    .partners {
        &__wrapper {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

        &__content {
            margin-left: 60px;
            margin-bottom: 250px;
            padding: 0 50px;
        }

        &__img {
            position: relative;
            flex: 0 0 50%;
            min-width: calc(50% + ((100vw - 1640px) / 2));
            height: 825px;
            margin-right: 60px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
}

@media (min-width: 992px)  and (max-width: 1280px)  {
    .partners {
        &__content {
            margin-left: 20px;
            padding: 0;
            margin-bottom: 170px;
        }

        &__img {
            height: 585px;
            margin-right: 20px;
        }
    }
}


@media (min-width: 1920px) {
    .contacts {
        &__phone {
            bottom: 50px;
        }
    }
}

@media (min-width: 1650px) {
    .product-page .breadcrumbs {
        left: -15px;
    }
}

@media (max-width: 1700px) {
    .product-page .breadcrumbs {
        left: 15px;
    }
}