@media (max-width: 1600px) {
}

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}

@media (max-width: 400px) {
}

@media (min-width: 1024px) {
    .header {
        &__bottom-navigation {
            
            li {
                &:hover {
                    & > a {
                        background-color: #53494e;
                    }
                    & > ul {
                        display: block;
                    }

                    .header__bottom-navigation-wrapper {
                        & > ul {
                            display: block;
                        }

                        // Ссылки на 2 уровне меню
                        & > ul > li > ul > li:hover {
                            a {
                                background-color: #3f3339;
                            }
                        }
                    }
                }
            }
        
        }
    }
}