@media (max-width: 1740px) {
    body {
        font-size: 18px;
        line-height: 24px;
    }

    .header {
        &__logo {
            img {
                width: 8rem;
            }
        }

        &__btn {
            font-size: 1rem;
            margin-left: 1.5rem;
        }
    }
}

@media (max-width: 1500px) {
    body {
        font-size: 16px;
        line-height: 20px;
    }

    .header {
        top: 30px;
        &__bottom-row-right {
            margin-left: 1.25rem;
        }

        &__btn {
            margin-left: 1.25rem;
        }
    }
}

@media (max-width: 1400px) {
    .hero {
        &__item-title {
            font-size: 62px;
            line-height: 62px;
            margin-bottom: 70px;
        }
    }
    .header {
        width: 98%;
    }
    .header__bottom-navigation > ul > li > a {
        padding: 1.25rem 1rem;
    }
    .header__center-links li {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .header__center-links img {
        max-width: 20px;
    }
    .header__socials {
        align-items: flex-end;
        li img {
            max-width: 20px;
        }
    }
}

@media (max-width: 1280px) {
    .hero {
        &__item-title {
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 40px;
        }
    }
    .header__bottom-navigation-wrapper {
        min-width: auto;
    }
    .header {
        width: 100%;
        top: 0;
        &__main {
            padding: 20px;
        }
        &__menu-btn {
            display: block;
        }
        &__schedule {
            order: 2;
            margin-right: 40px;
            max-width: 100%;
        }
        &__content {
            display: none;
            order: 3;
            flex-basis: 100%;
        }
        &__top-row {
            justify-content: center;
            flex-direction: column;
        }
        &__top-navigation {
            width: 100%;
            ul {
                flex-direction: column;
            }

            li {
                width: 100%;
                margin: 0;
                text-align: center;
            }
            
            a {
                display: block;
                font-size: 18px;
                padding-bottom: 10px;
                padding-top: 10px;
            }
        }
        &__socials {
            align-items: center;
            margin-bottom: 30px;
            margin-left: 0;
            order: -1;
            li img {
                max-width: 30px;
            }
        }
        &__center-row {
            text-align: center;
        }
        &__center-links {
            display: inline-flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto;
            li {
                width: 100%;
            }
            a {
                padding-bottom: 10px;
                padding-top: 10px;
            }
            img {
                max-width: 40px;
            }
        }
        &__bottom-row {
            display: none;
            padding-bottom: 30px;
            padding-top: 30px;
        }
        &__bottom-row-inner {
            flex-direction: column;
        }
        
        &__bottom-navigation {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
            
            li {
                width: 100%;
            }
            
            & > ul {
                flex-direction: column;
                margin: 0;
            }

            &-wrapper {
                position: static;

                & > ul {
                    overflow-y: auto;
                    max-height: 100%;
                    min-width: auto;
                    direction: ltr;
                }
                // Список меню 2 уровня
                & > ul > li > ul {
                    position: static;
                    min-width: auto;
                }
            }
        }

        &__bottom-row-right {
            flex-direction: column;
            margin-left: 0;
            order: -1;
        }

        &__lang {
            margin-bottom: 30px;
        }
        

        &__btn {
            margin-left: 0;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1024px) {
    .header__bottom-navigation {
        li {
            font-size: 20px;
        }
    }
    .hero {

        &__item-img {
            max-width: 100%;
        }
        &__item-title {
            font-size: 42px;
            line-height: 42px;
        }
        &__item-inner {
            margin-top: 300px;
        }
    }
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
    .btn {
        font-size: 1.5rem;
    }
    .hero {
        min-height: auto;
        &__item-title {
            line-height: 36px;
            font-size: 36px;
        }
        &__item {
            min-height: auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__item-inner {
            margin: 0;
            padding: 0 0 40px 0;
            margin-top: 150px;
            margin-bottom: 50px;
        }
        &__item-img {
            height: 400px;
        }
        .container {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-right: 15px;
        }
    }
    .header {
        &__logo img {
            width: 5rem;
        }

        &__schedule a {
            margin-bottom: 5px;
        }

        &__menu-btn {
            top: 44px;
        }
    }
}

@media (max-width: 480px) {
    
    .header {
        &__schedule {
            max-width: 155px;
            margin-right: 25px;

            span {
                line-height: normal;
                font-size: 0.875rem;
            }
        }

        &__menu-btn {
            right: 15px;
        }

        &__main {
            padding: 20px 0;
        }
    }
}

@media (max-width: 400px) {
    .header {
        &__center-row {
            text-align: left;
        }
    }
}

@media (min-width: 1281px) {
    .header {
        &__bottom-navigation {
            
            li {
                &:hover {
                    & > a {
                        background-color: #53494e;
                    }
                    & > ul {
                        display: block;
                    }

                    .header__bottom-navigation-wrapper {
                        & > ul {
                            display: block;
                        }

                        // Ссылки на 2 уровне меню
                        & > ul > li > ul > li:hover {
                            a {
                                background-color: #3f3339;
                            }
                        }
                    }
                }
            }
        
        }

        &__top-navigation li {
            &:hover {
                text-decoration: underline;
            }
        }

        &__center-links {
            a {
                &:hover {
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }

        &__schedule {
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__btn {
            &:hover {
                background-color: #fff;
                color: $main;
            }
        }
    }
}