.partners {

    padding-bottom: 140px;
    &__box {
        position: relative;
        margin-bottom: 150px;
        @media (max-width: 1600px) {
            margin-bottom: 9.375rem;
        }
    }

    &__title {
        margin-bottom: 50px;
        @media (max-width: 1600px) {
            margin-bottom: 3.125rem;
        }
    }

    &__list {
        position: absolute;
        bottom: 40px;
        right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $grey;
        padding: 45px 90px;
        width: 93%;
        @media (max-width: 1600px) {
            padding: 2.8125rem 5.625rem;
        }
    }

    &__item {
        max-width: 285px;
        margin-left: 40px;
        margin-right: 40px;

        @media (max-width: 1600px) {
            max-width: 17.8125rem;
            margin-left: 2.5rem;
            margin-right: 2.5rem;
        }
    }

    &__container {
        max-width: 1640px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        min-width: 50%;
        margin-bottom: 50px;
        @media (max-width: 1600px) {
            margin-bottom: 3.125rem;
        }
    }

    &__text {
        font-size: 30px;
        line-height: 42px;
        @media (max-width: 1600px) {
            font-size: 1.875rem;
            line-height: 2.625rem;
        }
        b {
            @include font('ubuntu-bold');
        }
    }

    &__img {
        img {
            object-fit: cover;
        }
    }

    &__btn {
        border-color: $main;
        color: $main;
        line-height: 1.5;
        padding: 17px 50px;
        @media (max-width: 1600px) {
            padding: 1.0625rem 3.125rem;
        }
        

        &:hover {
            background-color: $main;
            color: #ffffff;
        }
    }

    &__btn-wrapper {
        text-align: center;
    }

}
