.partners {

    padding-bottom: 140px;
    &__box {
        position: relative;
        margin-bottom: 9.375rem;
    }

    &__title {
        margin-bottom: 3.125rem;
    }

    &__list {
        position: absolute;
        bottom: 40px;
        right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $grey;
        padding: 2.8125rem 5.625rem;
        width: 93%;
    }

    &__item {
        max-width: 17.8125rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    &__container {
        max-width: 1640px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        min-width: 50%;
        margin-bottom: 3.125rem;
    }

    &__text {
        font-size: 1.875rem;
        line-height: 2.625rem;
        b {
            @include font('ubuntu-bold');
        }
    }

    &__img {
        img {
            object-fit: cover;
        }
    }

    &__btn {
        border-color: $main;
        color: $main;
        line-height: 1.5;
        padding: 1.0625rem 3.125rem;

        &:hover {
            background-color: $main;
            color: #ffffff;
        }
    }

    &__btn-wrapper {
        text-align: center;
    }

}
