.product-page {
    position: relative;
    min-height: 100vh;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
        max-width: 670px;
        width: 100%;
    }

    &__title {
        margin-bottom: 50px;
        @media (max-width: 1600px) {
            margin-bottom: 3.125rem;
        }
    }

    &__text {
        font-size: 1.375rem;
        line-height: 1.875rem;
        p {
            margin-bottom: 40px;
            @media (max-width: 1600px) {
                margin-bottom: 2.5rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__container {
        width: auto;
        margin-top: 12.5rem;
    }

    &__img {
        img {
            height: calc(100vh + 110px);
            object-fit: cover;
        }
    }
    .breadcrumbs {
        display: flex;
        position: absolute;
        left: 20px;
        top: 280px;
        color: #ffffff;
        padding: 1.25rem 0;
        &__wrapper {
            position: relative;
        }
    }
    
}

