.product-page {
    position: relative;
    min-height: 100vh;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        padding-top: 100px;
        padding-bottom: 100px;
        max-width: 670px;
        width: 100%;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__text {
        font-size: 22px;
        line-height: 30px;
        p {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__container {
        width: auto;
        margin-top: 200px;
    }

    &__img {
        img {
            height: 100vh;
            object-fit: cover;
        }
    }
    .breadcrumbs {
        font-size: 22px;
        line-height: 36px;
        display: flex;
        position: absolute;
        left: 20px;
        top: 280px;
        color: #ffffff;
        padding: 20px 0;

        &__wrapper {
            position: relative;
        }
    }
    
}

