
.services-page {
    padding-top: 60px;
    padding-bottom: 40px;

    &__title {
        margin-bottom: 60px;
        text-align: center;
        @media (max-width: 1600px) {
            margin-bottom: 3.75rem;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 60px;
        @media (max-width: 1600px) {
            margin-bottom: 3.75rem;
        }
        flex-basis: calc(50% - 300px);
        ul {
            list-style-type: '✓';
            padding-left: 20px;
        }
    }

    &__item-title {
        @include font('ubuntu-bold');
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 35px;
        @media (max-width: 1600px) {
            font-size: 1.875rem;
            line-height: 2.625rem;
            margin-bottom: 2.1875rem;
        }
    }

    &__img {
        width: 665px;
        height: 440px;
        margin-bottom: 30px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        font-size: 22px;
        line-height: 30px;
        @media (max-width: 1600px) {
            font-size: 1.375rem;
            line-height: 1.875rem;
        }
        p {
            margin-bottom: 30px;
            @media (max-width: 1600px) {
                margin-bottom: 1.875rem;
            }
        }

        ul {
            color: $main;

            li {
                padding-left: 5px;
            }
            
            span {
                color: $black;
            }
        }
    }
}
