
.text-page {
    background-color: $grey;
    margin-bottom: 150px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 8.125rem;
        padding-bottom: 8.125rem;
    }

    &__box {
        width: 45%;
    }

    &__text {
        font-size: 1.375rem;
        line-height: 1.875rem;
        p {
            margin-bottom: 2.5rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__list {
        list-style-type: '✓';
        padding-left: 1.25rem;
        color: $second;
        span {
            display: inline-block;
            padding-left: 5px;
            color: $black;
        }
    }

    &__partners {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -15px;
        margin-bottom: -6.25rem;
        li {
            padding: 0.9375rem;
            margin-bottom: -6.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 15rem;
            width: 100%;
            min-height: 13.4375rem;
            margin-left: 15px;
            margin-right: 15px;
            background-color: $grey;
            box-shadow: 0px 0px 48.96px 2.04px rgba(0, 0, 0, 0.1);

            img {
                object-fit: cover;
            }
        }
    }
}
