.why {

    &__box {
        background-color: $main;
        color: #ffffff;
        padding-top: 9.375rem;
        padding-bottom: 9.375rem;
    }

    &__title {
        text-align: center;
        margin-bottom: 3.75rem;
    }

    &__body-title {
        @include font('ubuntu-bold');
        margin-bottom: 2.1875rem;
    }

    &__box-text {
        font-size: 1.875rem;
        line-height: 2.625rem;
        max-width: 50.3125rem;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__container {
        max-width: 1640px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__content {
        max-width: 835px;
    }

    &__body {
        font-size: 1.375rem;
        line-height: 1.875rem;
        p {
            margin-bottom: 1.875rem;
        }
    }

    &__img {
        margin-top: -150px;
        height: 1120px;
        img {
            object-fit: cover;
        }
    }

    &__btn {
        margin-top: 2.8125rem;
        background-color: $main;
        color: #ffffff;
        &:hover {
            background-color: #ffffff;
            color: $main;
        }
    }
}
